<launch>

<!-- Provide static map: Run the map_server node -->
<!-- <include file = "$(find nav_stack)/launch/provide_map.launch" /> -->

<!-- Localization: Run amcl node -->
<include file = "$(find nav_stack)/launch/amcl_plus_map_server.launch" />

<!-- Move the robot: Run move_base node -->
<include file = "$(find nav_stack)/launch/move_base_launch.launch" />

</launch>